<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
	
	<targets>
		<target name="apifile" xsi:type="File" fileName="logs/api-${shortdate}.log"
				layout="${longdate}|${loglevel:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
		<target name="sysfile" xsi:type="File" fileName="logs/system-${shortdate}.log"
				layout="${longdate}|${loglevel:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
	</targets>
	
	<rules>
		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		
		<logger name="GradeJudge.Server.Api" minlevel="Info" writeTo="apifile" final="true" />
		<logger name="*" minlevel="Info" writeTo="sysfile" />
	</rules>
	
</nlog>